# API
PORT=3333
CORS_ORIGIN=http://localhost:5173

# MQTT
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_SENSOR_TOPIC=sensors/+/data

# DATABASE
DATABASE_PATH=./data/monitoring.db

# TELEGRAM (futuro)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# GEMINI AI
GEMINI_API_KEY=

