# API
PORT=3333
CORS_ORIGIN=http://localhost:5173

# DATABASE
DATABASE_PATH=./data/monitoring.db

# TELEGRAM BOT
TELEGRAM_BOT_TOKEN=

# GEMINI AI
GEMINI_API_KEY=

# OPENWEATHER API
OPENWEATHER_API_KEY=
OPENWEATHER_CITY=São Paulo
OPENWEATHER_COUNTRY_CODE=BR