@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply text-slate-900 dark:text-slate-100 bg-slate-100 dark:bg-slate-900;
}

.card {
  @apply rounded-xl border border-slate-200/60 dark:border-slate-800/70 bg-white dark:bg-slate-800 shadow-sm;
}

